.portfolio-page__filter {
  margin-bottom: 50px;
}

.filter-btn-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.filter-btn-list__item {
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.filter-btn-list__item:not(:last-child) {
  margin-right: 8px;
}

