.page-header {
  border-bottom: 1px solid $border-line-color;

}
.page-header__container {
  padding-top: 16px;
  padding-bottom: 16px;
  
  @media screen and (min-width:768px) {
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  }
  
@media screen and (min-width:1200px) {
  padding-top: 24px;
  padding-bottom: 25px;
}
 
}

.page-header__menu {
  
    display: flex;
    justify-content: space-between;
  
  @media screen and (min-width:768px) {
    align-items: center;
    justify-content: center;
  }
 
}

.page-header__logo {
  @media screen and (min-width:768px) {
    margin-right: 88px;
  }
  @media screen and (min-width:1200px) {
    margin-right: 93px;
  }
  
}

.nav-menu {
  display: none;
    @media screen and (min-width:768px) {
      display: flex;
      color: $secondary-text-color;
      @include font (500, 14, 1.14, 0.02);
      margin-right: 84px;
    }
  
  
  

}

.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}
.header-contact__item:not(:last-child) {
  @media screen and (min-width:768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width:1200px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
.page-header__contact {
  @media screen and (min-width:1200px) {margin-left: auto;}
  
}
.header-contact {
  display: none;

  @media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;
    color: $primary-text-color;
    @include font (500, 12, 1.16, 0.02);
    align-items: flex-start;
  }
  @media screen and (min-width:1200px) {
    flex-direction: row;
    @include font (500, 14, 1.14, 0.02);
    align-items: center;

    &:first-child {
      align-items: center;
    }
  }
}

.header-contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: $white-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  z-index: 999;

  transform: translateX(100%);
  @include transition (transform);

  
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__open-icon, 
.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
  fill: currentColor;

  &:focus,
  &:hover {
    fill: currentColor;
  }

}
.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  &:focus, 
  &:hover {
    color: $active-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
    
  }
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__nav {
  @include font (500, 40, 1.17, 0.02);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.mobile-menu__nav-item {
  margin-bottom: 35.71px;
}
.mobile-menu__nav-item:nth-child(2) {
  margin-bottom: 32px;
}
.mobile-menu__contact {
  margin-bottom: 64px;
}

.mobile-menu__contact-phone {
    @include font (500, 34, 1.17, 0.02);
    margin-bottom: 32px;
    color: $active-color;

    @media screen and (max-width: 467.99px) {
      font-size: 27px;
    }
}

.mobile-menu__contact-mail {
    @include font (500, 24, 1.17, 0.02);
}

.mobile-menu__wrapper-contact {
  margin-top: auto;
}
.mobile-menu__social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 467.99px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.mobile-menu__network {
  position: relative;
  color: $active-color;
  @include font (500, 18, 1.17, 0.02);

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 15px;
  }
  
  

  @media screen and (max-width: 467.99px) {
    width: calc((100% - 20px) / 2);
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
   

  
}