
// COLOR
  $primary-text-color: #757575;
  $secondary-text-color: #212121;
  $background-color: #E5E5E5;
  $background-secondary-color: #F5F4FA;
  $dark-background: #2F303A;
  $white-color: #FFFFFF;
  $active-color: #2196F3;
  $borders-color: #EEEEEE;
  $border-line-color: #ECECEC;
  $footer-contact-color: rgba(255, 255, 255, 0.6);
  $footer-icon-bg-color: rgba(255, 255, 255, 0.1);
  $input-border-color: rgba(255, 255, 255, 0.3);
  $hero-gradient: rgba(47, 48, 58, 0.4);
  $wrapper-title: rgba(47, 48, 58, 0.8);
  $icons-color: #AFB1B8;
  $wrapper-portfolio-card: rgba(33, 150, 243, 0.9);
  $backdrop-color: rgba(0, 0, 0, 0.2);
  $close-btn-color: rgba(0, 0, 0, 1);
  $border-modal-color: rgba(0, 0, 0, 0.1);
  $modal-input-border: rgba(33, 33, 33, 0.2);
  $text-placeholder: rgba(117, 117, 117, 0.5);

  